<h2>Sign up a new <%= @resource_type%></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <% if @resource_type == Employee %>
    Show Fields for Employee
  <% elsif @resource_type == Contractor %>
    Show Fields for Contractor
  <% end %>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
