<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Abroad:</b>
  <%= @job.abroad %>
</p>

<p>
  <b>Filled:</b>
  <%= @job.filled %>
</p>

<p>
  <b>Cancelled:</b>
  <%= @job.cancelled %>
</p>

<p>
  <b>Start date:</b>
  <%= @job.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @job.end_date %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
